<!-- app/views/public/customers/edit.html.erb -->

<h2>会員情報編集</h2>

<%= form_for(current_customer, url: customers_information_update_path) do |f| %>
  <%= render "public/shared/error_messages", resource: current_customer %>

  <div class="field">
    <%= f.label :last_name, "(姓)" %>
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :first_name, "(名)" %>
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label :last_name_kana, "(セイ)" %>
    <%= f.text_field :last_name_kana %>
  </div>

  <div class="field">
    <%= f.label :first_name_kana, "(メイ)" %>
    <%= f.text_field :first_name_kana %>
  </div>

  <div class="field">
    <%= f.label :email, "メールアドレス" %>
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :postcode, "郵便番号" %>
    <%= f.text_field :postcode %>
  </div>

  <div class="field">
    <%= f.label :address, "住所" %>
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :phone_number, "電話番号" %>
    <%= f.text_field :phone_number %>
  </div>

  <div class="actions">
    <%= f.submit "編集内容保存", class: "btn btn-primary" %>
    <%= link_to "退会", customers_check_path, class: "btn btn-danger" %>
  </div>
<% end %>