<!-- app/views/public/customers/edit.html.erb -->
<div class="container-fluid">
  <div class="row">
    <div class="col mb-5">
      <h3>会員情報編集</h3>
    </div>
  </div>

<%= form_for(current_customer, url: customers_information_update_path) do |f| %>
  <%= render "public/shared/error_messages", resource: current_customer %>

  <div class="row">
    <div class="col-md-4">
      <p>名前</p>
    </div>
    <div class="col-md-8 mb-3">
      <div class="field">
        <%= f.label :last_name, "(姓)" %>
        <%= f.text_field :last_name %>

        <%= f.label :first_name, "(名)" %>
        <%= f.text_field :first_name %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <p>フリガナ</p>
    </div>
    <div class="col-md-8 mb-3">
      <div class="field">
        <%= f.label :last_name_kana, "(セイ)" %>
        <%= f.text_field :last_name_kana %>

        <%= f.label :first_name_kana, "(メイ)" %>
        <%= f.text_field :first_name_kana %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <%= f.label :email, "メールアドレス" %>
    </div>
    <div class="col-md-8 mb-3">
      <div class="field">
        <%= f.email_field :email %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <%= f.label :postcode, "郵便番号" %>
    </div>
    <div class="col-md-8 mb-3">
      <%= f.text_field :postcode %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <%= f.label :address, "住所" %>
    </div>
    <div class="col-md-8 mb-3">
      <%= f.text_field :address %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <%= f.label :phone_number, "電話番号" %>
    </div>
    <div class="col-md-8 mb-3">
      <%= f.text_field :phone_number %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 mt-5">
      <div class="actions">
        <%= f.submit "編集内容保存", class: "btn btn-primary" %>
        <%= link_to "退会", customers_check_path, class: "btn btn-danger" %>
        <% end %>
      </div>
    </div>
  </div>
</div>