<h1>商品新規登録</h1>

 <%= form_with model: @item do |f| %>
 <p>商品画像</p><!--画像がない場合の処理をする-->
  <%= f.file_field :image, accept: 'image/*' %>
 <p>商品名</p>
  <%= f.text_field :name %>
 <p>商品説明</p>
  <%= f.text_area :introduction %>
 <p>ジャンル</p>
  <>
 <p>税抜価格</p>
  <%= f.number_field :price %>
 <p>販売ステータス</p>
  <%= f.select :is_available, [['販売中'],['販売停止中']], {sale: true, stop: false } %>

  <%= f.submit '新規登録' %>
<% end %>