<div class="container">
  <div class="row">
    <div class="col-md-2">
      <%= render "admin/genres/sidebar", genres: @genres %>
      <!-- ジャンル選択を表示する -->
    </div>
    <div class="col-md-10">
      <div class="jumbotron">
        <div class="welcome-text">
          <div class="text-center">
            <p>
              ようこそ、ながのケーキへ！<br>
              このサイトは、ケーキ販売のECサイトになります。<br>
              会員でない方も商品の閲覧はできますが、<br>
              購入には会員登録が必要になります。<br>
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
            <h3 class="title">新着商品</h3>
        </div>
      </div>
      <div class="new-item row">
        <% @items.first(4).each do |item| %>
        <!--新着商品を４つ表示する-->
          <div class="col-md-3 col-sm-6">
            <%= link_to item_path(item) do %>
              <div><%= image_tag item.image, style: "width:100%; height:200px; object-fit: cover;" %></div>
            <% end %>
            <div class="img-wrap">
              <p class="card-text"><%= item.name %></p>
              <% if item.is_available == true %>
                <p class="card-text">￥<%= item.price %>（税抜き）</p>
              <% else %>
                <p class="card-text text-danger">販売停止中</p>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="all-items-show-button text-right"><%= link_to "全ての商品を見る>", items_path %></div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>