<div class="container">
  <div class="row">
    <div class="col">
      <h4 class="my-5"><%= @customer.full_name %>さんの会員情報編集</h4>
        <%= form_with model: @customer,url: admin_customer_path do |f| %>
      <table class="table table-borderless">
        <tr>
          <td>会員ID</td>
          <td><%= @customer.id %></td>
        </tr>

        <tr>
          <td>氏名</td>
          <td><%= f.text_field :last_name %>　<%= f.text_field :first_name %></td>
        </tr>

        <tr>
          <td>フリガナ</td>
          <td><%= f.text_field :last_name_kana %>　<%= f.text_field :first_name_kana %></td>
        </tr>

        <tr>
          <td>郵便番号</td>
          <td><%= f.text_field :postcode %></td>
          <td></td>
        </tr>

        <tr>
          <td>住所</td>
          <td><%= f.text_field :address %></td>
          <td></td>
        </tr>

        <tr>
          <td>電話番号</td>
          <td><%= f.text_field :phone_number %></td>
          <td></td>
        </tr>

        <tr>
          <td>メールアドレス</td>
          <td><%= f.text_field :email %></td>
          <td></td>
        </tr>

        <tr>
          <td>会員ステータス</td>
          <td>
            <%= f.radio_button :is_withdrawal, :false %>
            <%= f.label :is_withdrawal, "有効", { value: :false }  %>

            <%= f.radio_button :is_withdrawal, :true %>
            <%= f.label :is_withdrawal, "退会", { value: :true } %>
          </td>
        </tr>

        <tr>
          <td></td>
          <td><%= f.submit "変更を保存", class:"btn btn-success" %></td>
        </tr>
      </table>
        <% end %>
    </div>
  </div>
</div>