<h1>商品一覧<small>(全<%= @items.count %>件)</small></h1>

<div class="item">
  <% @items.each do |item| %>
  <div>
    <%= link_to item_path(item.id) do %>
      <%= image_tag item.get_image, size: "100x100" %>
    <% end %>
    <%= item.name %>
    <%= item.price %>
  </div>
  <% end %>
</div>
<%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
