<% if admin_signed_in? %>
  <div class="row header-bottom">
    <div style="search-form text-align: center;">
      <%= form_tag(admin_search_path, method: :get) do %>
        <%= select_tag 'seach[model]',options_for_select({ "会員" => "customer", "商品" => "item" }) %>
        <%= text_field_tag 'seach[content]' %>
        <%= hidden_field_tag 'search[method]', "部分一致" => "partial" %>
        <%= submit_tag '検索', class: "btn btn-dafault" %>
      <% end %>
    </div>
  </div>
<% end %>